<div class="navbar">
<div class="navbar-inner">
  <ul class="nav">
    <li class="&lt;navbar-home/&gt;"><sw-page href="/index.html" quotes="false"/></li>
    <li class="&lt;navbar-download/&gt;"><sw-page href="download">Download/Install</sw-page></li>
    <li class="&lt;navbar-doc/&gt;"><sw-page href="doc" quotes="false"/></li>
    <li class="&lt;navbar-blog/&gt;"><sw-page href="blog">Blog</sw-page></li>
    <li class="&lt;navbar-about/&gt;"><sw-page href="about">?</sw-page></li>
  </ul>
</div>
</div>
