<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><if doc-type="ocamldoc"><doc-title/><dummy_><site-title/> : <doc-title/></dummy_></if></title>
<link rel="stylesheet" type="text/css" href="&lt;site-url/&gt;/style.css"></link>
<link rel="alternate" type="application/rss+xml" title="Rss feed" href="/&lt;site-url/&gt;/news.rss" />
</head>
<body>
<div id="page">
<include file="sw-menubar.tmpl"/>
<div id="header">
<if doc-type="ocamldoc"><main_/><div class="page-title"><doc-title/></div></if>
</div>
<div id="page-body">
<if doc-type="sw-post"><div class="date"><doc-date/></div></if>

<doc-body/>

<if doc-type="sw-post">
<div class="doc-keywords">
  <div class="bloc-keywords">
  Topics: <div class="keywords"><doc-topics sep=", "/></div>
  </div>
  <div class="bloc-keywords">
  Keywords: <div class="keywords"><doc-keywords sep=", "/></div>
  </div>
</div>
</if>
</div>
</div>
</body>
</html>